:root{
    --color-primary: #4db5ff;
    --color-primary-variant: rgba(77, 181, 255, 0.4);
    --color-light: rgba(255, 255, 255, 0.6);
    --transition: all 400ms ease;
    --test-width-lg: 75%;
    --test-width-md: 86%;
    --test-width-sm: 90%;
}
#contact{
    /* background:linear-gradient(#00000080, #00000080), url(../../../assets/contactsd.png); */
    background: linear-gradient(360deg, #00000080, #00000080), url(/src/assets/contactsd.png);
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    padding: 50px 8%;
    /* filter: grayscale(100%) brightness(3); */
    z-index: -1;
    
}
.test {
  width:var(--test-width-lg);
  margin: 0 auto;
}
.contact__test {   
    width: 100%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
    margin: 0 auto;
  }
  .contact__options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
  /* .contact__options:hover {
    box-shadow: 6px 5px 13px -6px #0000002e;
    margin-right: -10px;
   
  } */
  .contact__option {
    background: transparent;
    color: #fff;
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    /* border: 1px solid var(--color-primary-variant); */
    border: 1px solid  hsla(0, 0%, 100%, .4);;
    transition: var(--transition);
  }
  .contact__option:hover {
    background: #4db5ff;
    border-color: var(--color-primary-variant);
    box-shadow: 6px 5px 13px -6px #fffcfc;
    /* margin-top: -20px; */
  }
  .contact__option-icon {
    font-size: 1.5rem;
    margin: 1rem auto;
    /* color: #3498db ; */
    color: #ffffff ;
  }
  .contact__option a {
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
    color: #fff;
    /* color: var(--color-primary); */
  }
  /* ================ FORM ================= */
  
  form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    flex-wrap: wrap-reverse;
    width: 100%;
  }
  input,
  textarea {
    /* width: 400px; */
    padding: 1.5rem !important;
    /* border-radius: 0.5rem; */
    background: transparent;
    /* border-bottom: 1px solid var(--color-primary-variant); */
    border-bottom: 1px solid  hsla(0, 0%, 100%, .4);;
    resize: none;
    color: #fff;
    outline: none;
  }
  #contact h5{
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    padding-top: 5rem;
  }
  
  #contact h1{
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin-bottom: 3rem;
  }







  @media only screen and (max-width: 575.98px) {
    #contact{
      padding-bottom: 90px;
    }
    #contact h5{
      padding-top: 100px;
    }
    .contact__options{
      width: 270px;
    }
     .contact-button-class{
      top: 15% !important;
      left: 16% !important;
     }
     .contact__option:hover{
      background: #4db5ff;
     }
     .form{
      width: 100%;
     }
  }


  /* ================ MEDIA QUERIES (MEDIUM DEVICES) ============= */
  
  @media screen and (max-width: 1024px) {
    .contact__test {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
  }
  /* ================ MEDIA QUERIES (SMALL DEVICES) ============= */
  @media screen and (max-width: 600px) {
    .contact__test {
      width: var(--container-width-sm);
      padding: 0rem !important;
    }
  }
  