:root {
    --real-height: 100vh;
    --grid-edge: 60px;
  }
  .App {
    font-family: sans-serif;
    text-align: center;
  }
  body {
    width: 100%;
    height: 100%;
  }
  .site-wrapper {
    /* display: flex;
    flex-direction: column; */
    position: absolute;
    width: 100%;
    height: 100%;
  }
  /* .particles-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
  } */
  /* .particles-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    z-index: 1; 
  } */
  
  .site_circles_container {
    height: 100vh;
    left: 0%;
    /* position: absolute; */
    top: 50%;
    transform: translate(50%, 15%);
    transition: opacity 0.3s ease-in-out;
    width: 100vh;
    z-index: 1;
  }
  .site_dotted_circles circle {
    stroke: #00ffdb;
  }
  .site_dotted_circles {
    animation: spin 120s linear infinite;
    aspect-ratio: 1/1;
    height: 85%;
    left: 50%;
    opacity: 0.9;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .site_dotted_circles svg {
    height: 100%;
    overflow: visible;
    width: 100%;
    will-change: transform;
  }
  .site_dotted_circles:nth-child(2) {
    animation-direction: reverse;
    height: 110%;
    opacity: 0.7;
  }
  .site_dotted_circles:nth-child(3) {
    height: 150%;
    opacity: 0.6;
  }
  .svgDottedCircles {
    translate: none;
    rotate: none;
    scale: none;
    transform: translate3d(0px, 0px, 0px) rotate(60deg);
  }
  @keyframes spin {
    100% {
      transform: translate(-50%, -50%) rotate(1turn);
    }
  }


  /*Circles end */

  /*HEADER BEGIN */
  
  .site-header {
    left: 0;
    position: sticky;
    top: 0;
  }
  
  /* SCREEN RES END*/
  .chat__question p {
    width: 100%;
  }
  
  .u-visually-hidden {
    visibility: hidden;
  }
  /*HEADER end */

  /* ////////////////////////////// */
  .login-box {
    margin-top: 20px;
}

  button a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    
    letter-spacing: 4px;
}
button a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}


button a span {
  position: absolute;
  display: block;
}

    /* //////////////////////// */
    
.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}



#chk{
	display: none;
}
.sign{
	position: relative;
	width:100%;
	height: 100%;
  background: #573b8a69;
  box-shadow: 5px 20px 50px #000;
  overflow: hidden;
	
 
}
label{
  font-family: Fraktion Mono, Helvetica, Arial, sans-serif;
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}


 .btn{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}

.btn:hover{
	background: #6d44b8;
} 
.log{
	height: 460px;
	background: #eee;
	border-radius: 60% / 5%;
	transform: translateY(-8%);
	transition: .8s ease-in-out;
}
.log label{
	color: #573b8a;
	transform: scale(.6);
}

#chk:checked ~ .log{
	transform: translateY(-500px);
}
#chk:checked ~ .log label{
	transform: scale(1);	
}
#chk:checked ~ .sign label{
	transform: scale(.6);
} 
