/* 
*,
*:before,
*:after {
  box-sizing: border-box;
  user-select: none;
  margin: 0;
  padding: 0;
}

canvas#webgl {
  max-width: 174px;
  position: absolute;
  left: 55%;
  top: 30%;
  height: 55%;
  z-index: 999;
  will-change: transform;
  transform: rotate(45deg);
} */

/* Reset and box-sizing for all elements */



*,
*:before,
*:after {
  box-sizing: border-box;
  user-select: none;
  margin: 0;
  padding: 0;
}

canvas#webgl {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0%;
  top: 30%;
  z-index: 999;
  will-change: transform;
}
 
 