/* Reset and box-sizing for all elements */
*,
*:before,
*:after {
  box-sizing: border-box;
  user-select: none;
  margin: 0;
  padding: 0;
}

/* Style the canvas element */
canvas#webgl {
  max-width: 174px;
  position: absolute;
  left: 55%;
  top: 30%;
  transform: rotate(45deg);
  height: 55%;
  z-index: 999;
  will-change: transform;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}
