
/* Button.module.css */
.button_F {
  position: absolute;
  top: 40%;
  left: 47%;
  transform: translate(-40%, -56%);
  /* margin-top: 8vh; */
  overflow: hidden;
  border: 1px solid hsla(0, 0%, 100%, 0.4);
  transition: 0.5s;
}
.button_F button {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: transparent;
  border: 1px solid hsla(0, 0%, 100%, 0.4);
  -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  -webkit-mask-size: 2300% 100%;
  mask-size: 2300% 100%;
  -webkit-animation: ani2 0.7s steps(22) forwards;
  animation: ani2 0.7s steps(22) forwards;
}
.button_F button:hover {
  background: #fff !important;
  -webkit-animation: ani 0.7s steps(22) forwards;
  animation: ani 0.7s steps(22) forwards;
  color: #fff !important;
}
.contact_mas {
  color: #fff;
  position: absolute;
  top: 28%;
  text-align: center;
  width: 100%;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 1px;
  /* text-transform: uppercase; */
}
@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
