
/* /////////////////////////// Banner //////////////////////// */
:root {
  --black: #000;
  --white: #fff;
}

.banner {
  width: 100%;
  height: 112vh;
  position: relative;
  background: linear-gradient(900deg, var(--black), var(--white) 90%); 
}

.hero-title {
position: absolute;
top: 40%;
left: 17%;
padding:0px 10px;
font-weight: 900;
font-size: 3.5vw;
line-height: 3vw !important;
color: #0a0a0a;
}

.Text {
  mix-blend-mode: difference;
  z-index: 3;
  filter: invert(1);
  margin: 0;
  background: url(https://raw.githubusercontent.com/s1mpson/-/master/codepen/black-lives-matter/victim-collage.png);
  background-size: 40%;
  background-position: 50% 50%;
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 0);
  animation: zoomout 10s ease 500ms infinite;
  color: #00000000;
}

@keyframes zoomout {
  from {
    background-size: 40%;
  }
  to {
    background-size: 10%;
  }
}


.blend_2{
  position:absolute;
  mix-blend-mode: difference;
  z-index: 3;
  filter: invert(1);
  padding: 15px 8px;
  top: 52%;
  left: 17%; 
  height: 200px; 
  
  }


  
/* Responsive */

@media only screen and (max-width: 575.98px) {
  .hero-title {
    font-size: 7vw;
    font-weight: 900;
    top: 35%;
    left: 17%;
  }

  .hero-title a {
    padding: 8px 20px;
  }

  .blend_2 {
    border: 5px solid black;
    padding: 5px 30px;
    top: 55%;
    left: 17%;
    font-size: 1.3rem;
    
  }

  
}

@media (min-width: 576px) and (max-width: 768px) {
  .hero-title {
    font-size: 7vw;
    top: 35%;
    left: 17%;
  }

  .hero-title a {
    padding: 8px 20px;
  }

  .blend_2 {
    border: 5px solid black;
    padding: 5px 30px;
    top: 55%;
    left: 17%;
    font-size: 1.3rem;
  }

  
}
