
/* /////////////////////////// Banner //////////////////////// */
:root {
  --black: #000;
  --white: #fff;
}

.banner {
  width: 100%;
  height: 112vh;
  position: relative;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; */
  padding:  1.1rem !important;
  background: linear-gradient(33deg, var(--white), var(--black) 100%);

}
/* .banner_title{
  font-size: 1rem;
  letter-spacing: 1px;
  color: #fff;
  font-weight: 600;
} */

.hero-title {
  position: absolute;
  top: 40%;
  left: 10%;
  padding:0px 10px;
  font-weight: 900;
  font-size: 3.5vw;
  line-height: 3vw;
  color: #0a0a0a;
  font-weight: 900;
}

.Text {
  mix-blend-mode: difference;
  z-index: 3;
  filter: invert(1);
  margin: 0;
  background: url(https://raw.githubusercontent.com/s1mpson/-/master/codepen/black-lives-matter/victim-collage.png);
  background-size: 40%;
  background-position: 50% 50%;
  background-clip: text;
  -webkit-background-clip: text;
  /* color: rgba(0, 0, 0, 0); */
  animation: zoomout 10s ease 500ms infinite;
  color: #00000009;
}

@keyframes zoomout {
  from {
    background-size: 40%;
  }
  to {
    background-size: 10%;
  }
}


.blend_2{
  position:absolute;
  mix-blend-mode: difference;
  z-index: 3;
  filter: invert(1);
  padding: 15px 8px;
  top: 51%;
  left: 10%; 
  height: 200px; 
  
  }


  
/* Responsive */

@media only screen and (max-width: 575.98px) {
  .banner {
    padding: 0 1rem;
  }
  .hero-title {
    font-size: 7vw;
    top: 25%;
    left: 15%;
    line-height: 5vw;
  }

  .hero-title a {
    padding: 8px 20px;
  }

  .blend_2 {
    top: 34%;
    left: 10%;
    font-size: 1.3rem;
    height: 50px;
    padding: 8px 0px;
  }
.Text{
  color: #0000;
}
  
}

@media (min-width: 576px) and (max-width: 768px) {
  .hero-title {
    font-size: 7vw;
    top: 35%;
    left: 17%;
  }

  .hero-title a {
    padding: 8px 20px;
  }

  .blend_2 {
    border: 5px solid black;
    padding: 5px 30px;
    top: 55%;
    left: 17%;
    font-size: 1.3rem;
  }

  
}
