.experience__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.experience__container > div {
  background: transparent;
  color: #fff;
  border: 1px solid #4db5ff;
  padding: 2.4rem 3rem;
  border-radius: 2rem;
  transition: var(--transition);
}

.experience__container > div:hover {
  background: #4db5ff;
  color: #fff;
  border-color: transparent;
  cursor: default;
}

.experience__container > div h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: #03dac6;
  font-weight: 500;
  font-size: 1.2rem;
}

.experience__container > div:hover .tit_top {
  color: #fff;
}

.experience__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
  gap: 2rem;
}

.experience__details {
  display: flex;
  gap: 1rem;
}

.experience__details-icon {
  margin-top: 6px;
  color: #3498db !important;
}

.experience__container > div:hover .experience__details-icon {
  color: #fff !important;
}

@keyframes loading {
  to {
    text-shadow: 20px 0 70px #ff0266;
    color: #ff0266;
  }
}


/* ================ MEDIA QUERIES (MEDIUM DEVICES) ============= */
@media screen and (max-width: 1024px) {
  /* .experience__container {
    grid-template-columns: 1fr;
  } */
  /* .experience__container > div {
    width: 100%;
    padding: 2rem;
    margin: 0 auto;
  } */
  .experience__content {
    padding: 1rem;
  }
}

/* ================ MEDIA QUERIES (SMALL DEVICES) ============= */
@media screen and (max-width: 575.98px) {
  .experience {
    width: 100%;
  }
  .experience__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .experience__container > div {
    width: 100%;
    padding: 2rem 0em;
  }
}


@media (min-width: 576px) and (max-width: 768px) {


  .experience__container > div {
    width: 100%;
    padding: 2rem;
    margin: 0 auto;
  }

  
}


